<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmc.dao.AutomataDao">

	<!-- insert -->
	<insert id="addAuto">
		insert into
		Automata(AutomataID,AutomataName,AutomataType,Status,MaxTime,CreateTime,Creater,UpdateTime,Updater)
		values(#{automataID},#{automataName},#{automataType},#{status},#{maxTime},#{createTime},#{creater},#{updateTime},#{updater})
	</insert>
	
	<!-- select -->
	<select id="getAutoList" resultType="com.rmc.model.AutomataModel">
		select * from Automata
	</select>
	
	<!-- delete -->
	<delete id="deleteAuto">
		delete from Automata where AutomataID=#{automataID}
	</delete>
	
	<!-- selectAuto -->
	<select id="getAuto" resultType="com.rmc.model.AutomataModel">
		select * from Automata where AutomataID=#{automataID}
	</select>
	
	<!-- update -->
	<update id="updateAuto">
		update Automata set
		AutomataName=#{automataName},AutomataType=#{automataType},Status=#{status},MaxTime=#{maxTime},UpdateTime=#{updateTime},Updater=#{updater}
		where
		AutomataID=#{automataID}
	</update>
	
	<!--筛选数据中存在的用户信息 -->   
  	<select id="queryUserInfoByUserNames" resultType="com.rmc.model.AutomataModel"> 
<!--  	<select id="queryUserStatus" parameterType="arraylist" resultType="com.rmc.model.AutomataModel"> -->
        select * from workflow
    </select>
</mapper>