<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmc.dao.JobDao">

	<!-- insert -->
	<insert id="addJob">
		insert into
		Job(JobID,ServerID,AutomataID,Refresh,Param,WaitTime,ResourceID)
		values(#{jobID},#{serverID},#{automataID},#{refresh},#{param},#{waitTime},#{resourceID})
	</insert>
	
	<!-- select -->
	<select id="getJobList" resultType="com.rmc.model.JobModel">
		select * from Job
	</select>
	
	<!-- delete -->
	<delete id="deleteJob">
		delete from Job where JobID=#{jobID}
	</delete>
	
	<!-- selectAuto -->
	<select id="getJob" resultType="com.rmc.model.JobModel">
		select * from Job where JobID=#{jobID}
	</select>
	
	<!-- update -->
	<update id="updateJob">
		update Job set
		ServerID=#{serverID},AutomataID=#{automataID},Refresh=#{refresh},Param=#{param},WaitTime=#{waitTime},ResourceID=#{resourceID}
		where
		JobID=#{jobID}
	</update>
</mapper>