<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmc.dao.LessonDao">

	<!-- insert -->
 	<insert id="addLesson">
		insert into
		csstable.lessontable(UserID,LessonID,lessonName,lessonStatus,lessonType,CreateTime,Creater,UpdateTime,Updater)
		 values(#{userID},#{automataID},#{lessonName},#{status},#{lessonType},#{createTime},#{creater},#{updateTime},#{updater})
	</insert>
	
	<!-- select -->
	<select id="getLessonList" resultType="com.rmc.model.LessonModel">
		select * from csstable.automata where automata.Status = "未完成" and
	    AutomataID Not in(select LessonID from csstable.lessontable where UserID = #{userName1})
	</select>
	
 	<!-- delete -->
<!-- 	<delete id="deleteLesson">
		delete from LessonTable where LessonID=#{LessonID}
	</delete> -->
	
	<!-- selectAuto -->
	<select id="getLesson" resultType="com.rmc.model.LessonModel">
		select * from csstable.automata where automataID=#{automataID}
	</select>
	
	<!-- update -->
	<update id="updateLesson">
		update LessonTable set
<!-- 			CustomerID=#{customerID}, -->
			LessonID=#{lessonID},
			LessonName=#{lessonName},
			LessonType=#{lessonType},
			LessonStatus=#{lessonStatus},
			UpdateTime=#{updateTime},
			Updater=#{updater}
		where
			LessonID=#{lessonID}
	</update>
</mapper>