<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmc.dao.ScheduleDao">

	<!-- insert -->
	<insert id="addSchedule">
		insert into
		Schedule(JobID,RunRate,TimeMeasurement,TimeZone,StartTime,EndTime,Refresh,inActiveFlg,CreateTime,Creater,UpdateTime,Updater)
		values(#{jobID},#{runRate},#{timeMeasurement},#{timeZone},#{startTime},#{endTime},#{refresh},#{inActiveFlg},#{createTime},#{creater},#{updateTime},#{updater})
	</insert>
	
	<!-- select -->
	<select id="getScheduleList" resultType="com.rmc.model.ScheduleModel">
		select * from Schedule
	</select>
	
	<!-- delete -->
	<delete id="deleteSchedule">
		delete from Schedule where JobID=#{jobID} and RunRate=#{runRate}
	</delete>
	
	<!-- select -->
	<select id="getSchedule" resultType="com.rmc.model.ScheduleModel">
		select * from Schedule where JobID=#{jobID} and RunRate=#{runRate}
	</select>
	
	<!-- update -->
	<update id="updateSchedule">
		update Schedule set
		TimeMeasurement=#{timeMeasurement},TimeZone=#{timeZone},StartTime=#{startTime},EndTime=#{endTime},Refresh=#{refresh},inActiveFlg=#{inActiveFlg},UpdateTime=#{updateTime},Updater=#{updater}
		where
		JobID=#{jobID} and RunRate=#{runRate}
	</update>
</mapper>